body {
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: #0077cc;
    font-family: Times New Roman, serif;
}

p {
    color: #666666;
    font-size: 18px;
